<div id="navbas">
  <nav role="navigation" id="navNavbas">
      <ul>
          <li><a href="#" class="linkNavbas"><i class="fas fa-home"></i></a></li>
          <!-- Loop *ngFor on listThemes to genrate nav menu links depending on theme in Database.theme-->
          <li><a href="/home" class="linkNavbas">Accueil</a></li>
          <li><a href="produit#contact" target="_self" class="linkNavbas">Contact</a></li>
      </ul>
  </nav>
</div>
<br><br>
<hr id="hrhaut">
<section id="descriptif">
    <h1>
      NOS PRODUITS
    </h1>
    <p>Dans les moments importants d'une vie, un mariage, une naissance, un baptême ou autre fête marquante pour vous et vos
      proches, Broderie d'Or vous donne l'occasion de marquer cet événement en personalisant votre cadeaux. 
      Brodez vos <em>couvertures, serviettes, peluches, gants, peignoirs</em> etc...<br> Nous vous accompagnons
      à travers nos différents thèmes ci-dessous proposés à des tarifs très avantageux avec des produits de qualités.
      Vous avez également la possibilité de commander un produit seul dans notre rubrique " <a href="boutiqueDor.html">boutique d'or</a>".
  </p>
  <h2>
    Voici tout nos produit : 
  </h2>
</section>
<hr id="hrbas">
<section class="row" id="sectionProduit">
  <div *ngFor="let produit of listProduct" class="card" style="width: 15rem;">
    <img class="card-img-top" src="../../assets/images/aexemple1bis.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">{{produit.name}} </p>
    </div>
    <div class="card-footer">
      <p class="card-text"> <strong>{{produit.price}} €</strong></p>
    </div>
  </div>
</section>