<main *ngIf="isLogged" class="container-fluid">
  <div class="table-wrapper col-lg-10">
      <section class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Gestion des produits</h2>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-success" (click)="operation = 'ADD'; initProduit()">
                            Créer
                    </button>					
            </div>
            </div>
        </section>
      <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th>id produit</th><th>Nom</th><th>prix</th><th>stock</th> <th>Selectionner</th>
            </tr>     
        </thead>
        <tbody>
          <tr *ngFor="let produit of produits">
            <td> {{produit.idProduct}} </td>
            <td> {{produit.name}} </td>
            <td> {{produit.price}} </td>
            <td> {{produit.stock}} </td>
            <td class="crudTD">
                <button class="btn" (click)="selectedProduit = produit; operation = 'EDIT'">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn" (click)="selectedProduit = produit; operation = 'REMOVE'">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
          </tr>
            <tr>
        </tbody>
      </table>
  </div>

  <!-- FORM FOR CRUD PRODUCT -->
  <div *ngIf="operation == 'ADD' || operation == 'EDIT'" class="customForm col-lg-4">
  <form [formGroup]="crudProductForm" class="formCustom">
    <strong>
      <p class="titleForm"> {{ operation == 'ADD' ? 'Ajouter produit' :
           operation == 'EDIT' ? 'Modifier produit' : ''
        }} 
      </p>
      <button class="btn customBtnLeave" (click)="initOperation()" id="quitter"><i class="fas fa-times"></i></button>
    </strong>
    <p *ngIf="operation == 'EDIT'">Id produit : {{selectedProduit.idProduct}} </p>
    <div class="input-group">
      <label for="">Nom</label>
      <input type="text" class="form-control" formControlName="name"
      [(ngModel)]="selectedProduit.name">
    </div>
    <div class="input-group">
        <label for="">Prix</label>
        <input type="text" class="form-control" formControlName="price"
        [(ngModel)]="selectedProduit.price">
    </div>
    <div class="input-group">
          <label for="">Stock</label>
          <input type="text" class="form-control" formControlName="stock"
          [(ngModel)]="selectedProduit.stock">
    </div>
    <div class="input-group">
        <button [className]="operation == 'ADD' ? 'btn btn-primary' : 'btn btn-success'"
                [disabled] ="crudProductForm.invalid"
                (click)="operation == 'ADD' ? addProduct() : updateProduct()">
            Valider
        </button>
  </div>
  </form>
</div>

<div *ngIf="operation == 'REMOVE'" class="customForm col-lg-4">
    <section id="deleteProduct">
      <strong>
        <p class="titleForm"> Supprimer Produit
        </p>
        <button class="btn customBtnLeave" (click)="initOperation()" id="quitter"><i class="fas fa-times"></i></button>
    </strong>
      <p *ngIf="operation == 'REMOVE'">Id produit : {{selectedProduit.idProduct}} </p>

      <p> Nom produit : {{selectedProduit.name}} </p>

      <p> Prix : {{selectedProduit.price}} </p>

      <p> Stock : {{selectedProduit.stock}} </p>

      <p> Souhaitez-vous supprimer le produit ?</p>

      <button class="btn btn-danger" (click)="deleteProduct()">Supprimer</button>
    </section>
</div>
</main>