<footer>
    <div class="row container-fluid">
     <div class="col-lg-4 co-sm-12 ml-auto mr-auto" id="aboutus">
         <h3>Informations</h3>
         <hr>
         <ul>
             <li><a href="#">Conditions générales</a></li>
         </ul>
     </div>

     <div class="col-lg-4 co-sm-12 ml-auto mr-auto" id="contact">
         <h3>Contact et réseau</h3>
         <hr>
         <ul>
             <li><a href="#">TEL : 06 61 10 63 20</a></li>
             <li><a href="#">broderiedor@gmail.com</a></li>
             <li><a href="https://www.facebook.com/broderie.dor"> <i class="fab fa-facebook-square"></i></a></li>
         </ul>
     </div>
     </div>
 </footer>
