<div id="navbas">
    <nav role="navigation" id="navNavbas">
        <ul>
            <li><a href="#" class="linkNavbas"><i class="fas fa-home"></i> Home</a></li>
            <!-- Loop *ngFor on listThemes to genrate nav menu links depending on theme in Database.theme-->
            <li><a href="/produit" class="linkNavbas">Boutique d'Or</a></li>
            <li><a href="home#contact" target="_self" class="linkNavbas">Contact</a></li>
        </ul>
    </nav>
  </div>

  <h3 *ngIf="!isLogged">
        Vous n'êtes pas connecté
      </h3>
      <p *ngIf="!isLogged" class="messageLoggedOut">Connectez vous pour accéder à votre espace</p>

  <main *ngIf="isLogged" class="container-fluid">
    <div class="table-wrapper col-lg-7">
        <section class="table-title">
              <div class="row">
                  <div class="col-sm-6">
                      <h2>Vos données</h2>
                  </div>
              </div>
          </section>
        <table class="table table-striped table-hover">
          <thead>
              <tr>
                <th>Prémon</th> 
                <th>Nom</th> 
                <th>Téléphone</th>
                <th>Pseudo</th>
                <th>email</th>
                <th>Etat du compte</th>
                <th>Promotion</th>
              </tr>     
          </thead>
          <tbody>
            <tr>
              <td> {{currentUser.firstName}} </td>
              <td> {{currentUser.lastName}} </td>
              <td> {{currentUser.phone}} </td>
              <td> {{currentUser.username}} </td>
              <td> {{currentUser.email}} </td>
              <td> {{currentUser.valid == false ? 'an attente validation' : 'validé'}} </td>
              <td *ngIf="currentUser.promotion == false"> Vous n'avez pas de promotion</td>
              <td *ngIf="currentUser.promotion == true"> -15% en boutique ! <i class="far fa-smile"></i></td>
            </tr>
              <tr>
          </tbody>
        </table>
    </div>
  </main>