<div id="navbas">
  <nav role="navigation" id="navNavbas">
      <ul>
          <li><a href="#" class="linkNavbas"><i class="fas fa-home"></i> Home</a></li>
          <!-- Loop *ngFor on listThemes to genrate nav menu links depending on theme in Database.theme-->
          <li><a href="dashboard/produit" class="linkNavbas">Produit</a></li>
          <li><a href="dashboard/theme" class="linkNavbas">Theme</a></li>
          <li><a href="dashboard/paniert" class="linkNavbas">Panier</a></li>
          <li><a href="dashboard/client" class="linkNavbas">Client</a></li>
          <li><a href="dashboard/commande" class="linkNavbas">Commande</a></li>
          <li><a href="/produit" class="linkNavbas">Boutique d'Or</a></li>
          <li><a href="home#contact" target="_self" class="linkNavbas">Contact</a></li>
      </ul>
  </nav>
</div>

<h3 *ngIf="!isLogged">
  Vous n'êtes pas connecté
</h3>
<p *ngIf="!isLogged" class="messageLoggedOut">Connectez vous pour accéder à votre Dashboard</p>



<router-outlet></router-outlet>