<footer>
    <div class="row container-fluid">
     <div class="col-lg-4 co-sm-12 ml-auto mr-auto" id="aboutus">
         <h3>Informations et aide</h3>
         <hr>
         <ul>
             <li><a href="#">Conditions générales</a></li>
             <li><a href="#">Vie privée et sécurité</a></li>
             <li><a href="#">Nos produits</a></li>
             <li><a href="#">Mentions légales</a></li>
         </ul>
     </div>

     <div class="col-lg-4 co-sm-12 ml-auto mr-auto" id="contact">
         <h3>Contact et réseau</h3>
         <hr>
         <ul>
             <li><a href="#">TEL : 06 10 10 10 10</a></li>
             <li><a href="#">broderiedor@gmail.com</a></li>
             <li><a href="#"> <i class="fab fa-facebook-square"></i></a></li>
         </ul>
     </div>
     </div>
 </footer>
