*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: black;
    
}

#loginForm{
    width: 25%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px white solid;
    background: white;
    border-radius: 3px;
}

#loginForm p{
    margin-top: 10px;
}

#loginForm p a{
    font-size: 0.8em;
}

@media screen and (max-width: 481px)  { 

    #loginForm{
        width: 80%;
        margin: auto;
        margin-top: 100px;
    }
 }
