*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: black;
    
}

#loginForm{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px white solid;
    background: white;
    border-radius: 3px;
}


@media screen and (max-width: 481px)  { 

    #loginForm{
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }
 }

 @media screen and (max-width: 925px)  { 

    #loginForm{
        width: 80%;
        margin: auto;
        margin-top: 30px;
    }
 }