h3{
    text-align: center;
    margin-top: 100px; 
}

p{
    text-align: center;
}

nav#gestion{
    margin-top: 100px;
}

nav#gestion button{
    color: #fff;
    background: gray;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

@media screen and (max-width: 600px){
    #navbas{
        display: none;
    }
 }
