<main *ngIf="isLogged" class="container-fluid">
    <div class="table-wrapper col-lg-7">
        <section class="table-title">
              <div class="row">
                  <div class="col-sm-6">
                      <h2>Gestion des paniers</h2>
                  </div>
                  <div class="col-sm-6">
                      <button class="btn btn-success" (click)="operation = 'ADD'; initBasket()">
                              Créer
                      </button>					
              </div>
              </div>
          </section>
        <table class="table table-striped table-hover">
          <thead>
              <tr>
                <th>id basket</th>  <th>Theme</th>  <th>Nom</th> <th>prix</th> <th>Produits</th> <th>Action</th>
              </tr>     
          </thead>
          <tbody>
            <tr *ngFor="let basket of baskets">
              <td> {{basket.idBasket}} </td>
              <td> {{basket.theme.name}} </td>
              <td> {{basket.name}} </td>
              <td> {{basket.price}} </td>
              <td>
                  <ul>
                      <li *ngFor="let basketline of basket.basketLines">
                          {{basketline.quantity}} {{basketline.product.name}}
                      </li>
                  </ul>
              </td>
              <td class="crudTD">
                  <button class="btn" (click)="selectedBasket = basket; operation = 'EDIT'; onEditInitForm()">
                      <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn" (click)="selectedBasket = basket; operation = 'REMOVE'">
                      <i class="fas fa-trash-alt"></i>
                  </button>
              </td>
            </tr>
              <tr>
          </tbody>
        </table>
    </div>
    <!-- FormGroup FOR CRUD OF BASKET -->
  </main>

<div *ngIf="operation == 'ADD' || operation == 'EDIT'" class="customForm col-lg-10">
        <form [formGroup]="crudBasketForm">
          <strong>
            <p class="titleForm"> {{ operation == 'ADD' ? 'Créer Panier' :
                 operation == 'EDIT' ? 'Modifier produit' : ''
              }} 
            </p>
            <button class="btn" (click)="initOperation()" id="quitter"><i class="fas fa-times"></i></button>
            <button class="btn" (click)="reloadForm()" id="reload"><i class="fas fa-sync-alt"></i></button>
        </strong>
        <button class="btn" (click)="addBasketLinesArray()"><i class="fas fa-plus"></i> Produit </button>
          <p *ngIf="operation == 'EDIT'">Id Basket : {{selectedBasket.idBasket}} </p>
          <div class="input-group">
            <label for="">Nom</label>
            <input type="text" class="form-control" formControlName="name"
            [(ngModel)]="selectedBasket.name">
          </div>
          <div class="input-group">
              <label for="">Prix</label>
              <input type="text" class="form-control" formControlName="price"
              [(ngModel)]="selectedBasket.price">
          </div>
          <div class="input-group">
                <label for="">Theme</label>
                <select type="text" class="form-control" formControlName="theme"
                [(ngModel)]="selectedBasket.theme">
                <option *ngIf="operation == 'ADD'"></option>
                <option *ngIf="operation == 'EDIT'"> {{selectedBasket.theme.name}} </option>
                <option *ngFor="let theme of themes"> {{theme.name}} </option>
                </select>
          </div>
          <div *ngIf="operation == 'ADD'" formArrayName="basketLines" class="input-group">
            <label>Liste Produit : </label>
              <div *ngFor="let group of basketLinesArray.controls; let i = index" [formGroupName]="i">
                  <div class="customInput">
                    <select type="text" class="form-control" formControlName="idProduct">
                        <option></option>
                        <option *ngFor="let product of products" value="{{product.idProduct}}">
                            {{product.name}}
                        </option>
                    </select>
                    <input type="number" class="form-control" formControlName="quantity">
                    <button class="btn" (click)="deleteBasketLinesArray(i)"><i class="fas fa-minus"></i> Supprimer</button>
                </div>
                </div>
            </div>
            <label for="">Liste des produits : </label>
            <div *ngIf="operation == 'EDIT'" formArrayName="basketLines" class="input-group">
                <div *ngFor="let group of basketLinesArray.controls; let i = index" [formGroupName]="i">
                      <div class="customInput">
                        <select type="text" class="form-control" formControlName="idProduct">
                            <option *ngIf="group.value.quantity != null">
                                {{group.value.productName}}
                            </option>
                            <option *ngFor="let product of products" value="{{product.idProduct}}"> 
                                {{product.name}}
                            </option>
                        </select>
                        <input type="text" class="form-control" [value]="group.value.quantity" formControlName="quantity">
                        <button class="btn" (click)="deleteBasketLinesArray(i)">
                            <i class="fas fa-minus"></i> Supprimer
                        </button>
                    </div>
                  </div>
              </div>

          <div class="input-group">
              <button [className]="operation == 'ADD' ? 'btn btn-primary' : 'btn btn-success'"
                      [disabled] ="crudBasketForm.invalid"
                      (click)="operation == 'ADD' ? createBasket() : updateBasket()">
                  Valider
              </button>
        </div>
        </form>
</div>