#navbas{
    width: 100%;
    margin: auto;
    height: 50px;
    background: white;
    border-bottom: 1px solid white;
    z-index: 99999;
}


#navbas nav ul li a{
    transition: 0.2s;
    height: 50px;
    color : black;
}

#navbas nav ul li a:hover{
    border-bottom: 3px solid #DAA520;
}

#navbas{
    position: absolute;
    top : 95px;
}

#navbas nav{
    width: 80%;
    margin: auto;
    height: 40px;
    background: white;
}

#navbas #endspace{
    width: 15%;
}

#navbas nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#navbas nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around; 
}

#navbas nav ul a{
    display: block;
    text-decoration: none;
    color : #191919;
    line-height: 50px;
    transition: 0.5s;
    font-size: 1.1em;
}

#navMediumSmall{
    display: none;
}

/*MAIN*/


em{
    font-style: normal;
    font-weight: bold;
    color: #DAA520;
}

li{
    list-style: none;
}

/*Main*/

main{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

main #descriptif h1{
    margin-top : 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

main #descriptif h2{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2em;
}

main #descriptif p{
    width: 80%;
    margin: auto;
    text-align: justify;
}

main #hrhaut{
    background: #191919;
    width: 50%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
}

main #hrbas{
    background: #191919;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}


.list li{
    width: 100%;
    text-align: left;
}


/*TEST SECTION*/

main div.offre .card{
    margin : 0;
    padding: 0;
    border-radius: 0;
}

main div.offre{
    display: flex;
    flex-wrap: wrap; 
}

main div.offre .card-header{
    text-align: center;
    width: 100%;
    background: #DAA520;
}

/* CUSTOM the color of h5's cards-header*/

main div.offre .card-header h5{
    color: white
}

.card-footer{
    text-align: center;
    background: rgba(0, 0, 0, 0.251);
}

.card-footer a{
    color: black;
}

/*JUMBOTRON*/

.jumbotron{
    background: #191919;
    color: white
}

.jumbotron h2{
    font-family: 'Roboto', sans-serif;
}

.jumbotron p{
    font-family: 'Roboto', sans-serif;
}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  { 

}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media screen and (max-width: 481px)  { 
    #carouselExampleInterval{
        display: none;
    }

    #offre div.customnaissance{
        padding-left: 0px;
        padding-right: 0px;
    }

 }
 /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (max-width: 801px)  { 
    #offre div.customnaissance{
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
    }

    main #descriptif h1{
        font-size: 2em;
        padding-top : 0;
        margin-top : 0;
    }

    main #descriptif h2{
        font-size: 1.3em;
        padding-bottom: 0;
        margin-bottom: 15px;
    }
    main #descriptif p{
        width: 95%;
        font-size: 0.9em;
    }
    #hrbas{
        display: none;
    }
    main #hrhaut{
        display: none;
    }

    .card{
        width: 80%;
        margin: auto;
    }

    .jumbotron h2{
        font-size: 2.5em;
    }
    .jumbotron p{
        font-size: 0.9em;
    }

 }

 @media screen and (max-width: 850px){
     
    #navbas{
        display: none;
    }

    app-carousel{
        display: none;
    }
 }